<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <ng-container *ngIf="roleForUpdate">
      <button mat-menu-item (click)="onSelectUpdate()">
        <mat-icon>update</mat-icon>
        <span>Güncelle</span>
      </button>
    </ng-container>
   
    <ng-container *ngIf="roleForPublish">
      <button mat-menu-item *ngIf="(checkIsNew() || checkExpireDate() || checkIsReject() || checkUnpublish())" (click)="onSelectPublish()">
        <mat-icon>publish</mat-icon>
        <span>Yayınla</span>
      </button>
    </ng-container>
    
    <ng-container *ngIf="roleForPublish">
      <button mat-menu-item *ngIf="(checkIsPublish() && !checkExpireDate())" (click)="onSelectUnpublish()">
        <mat-icon>remove_circle</mat-icon>
        <span>Yayından kaldır</span>
      </button>
    </ng-container>
   
    <!-- <button mat-menu-item (click)="onSelectDelete()">
      <mat-icon>delete</mat-icon>
      <span>Sil</span>
    </button> -->
    <button mat-menu-item *ngIf="(checkIsNew())" (click)="onSelectReject()">
      <mat-icon>clear</mat-icon>
      <span>Ret-Et</span>
    </button>
  </mat-menu>
