<ng-container *ngIf="subscreens?.length > 0; else defaultTemplate">
  <table mat-table class="mat-elevation-z8 w-100" [dataSource]="subscreens">
    <!-- Column -->

    <!-- Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Ad</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <span>{{ element?.subScreen?.name }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Durum</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip selected [color]="'primary'" *ngIf="element?.subScreen?.status">
            Aktif
          </mat-chip>
          <mat-chip selected [color]="'warn'" *ngIf="!element?.subScreen?.status">
            Pasif
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <!--Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="tableMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #tableMenu="matMenu">
          <button mat-menu-item (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
            <span>Kaldır</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<ng-template #defaultTemplate>
  <h4 class="text-info">Bu ilan için henüz yayın ekranı seçilmemiş...</h4>
</ng-template>
