<mat-expansion-panel *appHasRole="allowedRolesForList">
    <mat-expansion-panel-header>
      <mat-panel-title class="d-flex align-items-center">
        <mat-icon>collections</mat-icon>
        <span>Logo</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list routerLink="/app/admin/logo">
      <a mat-list-item>Logo</a>
    </mat-nav-list>
    <mat-nav-list routerLink="/app/admin/footer-text">
      <a mat-list-item>Footer Text</a>
    </mat-nav-list>
  </mat-expansion-panel>
