<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex align-items-center">
      <mat-icon>view_list</mat-icon>
      <span>Ev İlanı Opsiyon Listesi</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list routerLink="/admin/number-of-rooms">
    <a mat-list-item>Oda Sayısı</a>
  </mat-nav-list>
  <mat-nav-list routerLink="/admin/buildings-age">
    <a mat-list-item>Binanın Yaşı</a>
  </mat-nav-list>
  <mat-nav-list routerLink="/admin/flat-of-home">
    <a mat-list-item>Bulunduğu Kat</a>
  </mat-nav-list>
  <mat-nav-list routerLink="/admin/heating-types">
    <a mat-list-item>Isınma Tipi</a>
  </mat-nav-list>
</mat-expansion-panel>
