<!-- carousel -->
<mat-card>
    <ng-container *ngFor="let slide of slides; let i = index">
      <video controls  *ngIf="i === currentSlide">
        <source src="{{ slide?.fullPath }}" type="video/mp4" />
        <source src="{{ slide?.fullPath}}" type="video/ogg" />
        <source src="{{ slide?.fullPath}}" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </ng-container>
  
    <mat-card-actions class="d-flex justify-content-center align-items-center">
        <button  mat-icon-button (click)="onPreviousClick()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <div>{{slides?.length-currentSlide}}</div>
          <button mat-icon-button (click)="onNextClick()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
    </mat-card-actions>
  </mat-card>
