<mat-expansion-panel *appHasRole="allowedRoles">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex align-items-center py-4">
      <mat-icon>person</mat-icon>
      <span
      [matBadge]="userStore.getNewAnnounceLength() | async"
      matBadgeColor="warn"
      matBadgeOverlap="false"
      matBadgeSize="small"
      [matBadgeHidden]="(userStore.getNewAnnounceLength() | async)==0"
      >Kullanıcılar</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list routerLink="/app/admin/users">
    <a mat-list-item>Kullanıcı Listesi</a>
  </mat-nav-list>
</mat-expansion-panel>
