<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  <!-- Column -->
  <ng-container matColumnDef="Avatar">
    <th mat-header-cell *matHeaderCellDef>Resim</th>
    <td mat-cell *matCellDef="let element">
      <img mat-card-avatar src="/assets/user/avatar.png" alt="User Avatar" width="35">
    </td>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Ad-Soyad</th>
    <td mat-cell *matCellDef="let element">
      {{element.firstName}} {{element.lastName}}
    </td>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef>Tel</th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex flex-column">
        <span class="font-weight-bold">{{element?.gsmPhone}}</span>
        <span>{{element?.interPhone}}</span>
      </div>
    </td>
  </ng-container>

  <!--Column -->
  <ng-container matColumnDef="Campus">
    <th mat-header-cell *matHeaderCellDef>Yerleşke</th>
    <td mat-cell *matCellDef="let element">{{ element.campus.name }}</td>
  </ng-container>

  <!--Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef>Durum</th>
    <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
  </ng-container>

  <!--Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
       <button mat-icon-button [matMenuTriggerFor]="tableMenu">
         <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #tableMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
