<div class="row p-4">
    <ng-container *ngIf="(foodMenuBgStore.bgphotos$ | async)?.length>0;else dataIsEmpty">
      <ng-container *ngFor="let image of foodMenuBgStore.bgphotos$ | async">
        <div class="col-md-3 col-lg-2">
          <mat-card>
            <img
              mat-card-image
              src="{{ image?.fullPath }}"
              alt="İlan Fotoğrafı"
              height="100"
            />
            <div class="d-flex justify-content-start align-items-center">
              <div class="d-flex align-items-center">
                <ng-container *appHasRole="roleForUpdate">
                  <span class="badge badge-danger mr-2" *ngIf="!image?.isSetBackground" (click)="onSetBackground(image)">Arka Plan Yap</span>
                </ng-container>
                <ng-container *appHasRole="roleForUpdate">
                  <span class="badge badge-success mr-2" *ngIf="image?.isSetBackground" (click)="onSetBackground(image)">Arka Plan</span>
                </ng-container>
                <ng-container *appHasRole="roleForDelete">
                  <span class="badge badge-danger mr-2"  (click)="onDelete(image)">Sil</span>
                </ng-container>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  
    <div class="col-md-4">
      <ng-template #dataIsEmpty>
        <h4 class="text-info ml-5 p-4 h-25">
          Yemek Menüsü için ana arka plan resmi belirtilmemiş.
        </h4>
      </ng-template>
    </div>
  </div>

  <app-upload
  [apiUrl]="'http://localhost:5000/api/foodmenubgphotos'"
  [roleForUpload]="roleForCreate"
  (uploadResult)="uploadResult($event)"
></app-upload>


  
