<div class="container mt-3">
    <app-admin-toolbar
      [toolbarTitle]="toolbarTitle"
      [isDisableInput]="true"
      [isDisabledFilterList]="true"
      [isHiddenConfirm]="false"
      [isDisabledReset]="true"
      [allowedRoles]="allowedRolesForCreate"
      (createNew)="onCreate()"
  
    ></app-admin-toolbar>
  
    <div class="row mt-3 mb-5">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <app-loading></app-loading>
        <app-vehicle-geartype-list [dataSource]="(vehicleGearTypeStore.vehicleGearTypes$ | async)"></app-vehicle-geartype-list>
    </div>
    </div>
  </div>

