<footer
  class="footer pt-3 w-100 bg-dark d-flex flex-row align-items-center justify-content-center"
>
  <p class="text-white d-flex align-items-center">
    <span class="mr-2">{{(publicFooterTextStore.footerText$ | async)?.footerText}}</span>
    <span class="mr-2" *ngIf="(publicFooterTextStore.footerText$ |async)?.contentPhoneNumber">İletişim:{{(publicFooterTextStore.footerText$ | async)?.contentPhoneNumber}}</span>
    <mat-icon
      *ngIf="(adminHubService.status$ | async)?.toLowerCase() == 'connected'"
      >wifi</mat-icon
    >
    <mat-icon
      *ngIf="
        (adminHubService.status$ | async)?.toLowerCase() == 'disconnected' ||
        (adminHubService.status$ | async)?.toLowerCase() == 'reconnecting'
      "
      >wifi_off</mat-icon
    >
  </p>
</footer>
