<div style="width: 100vw;height: 100vh;">
    <ngb-carousel
    [showNavigationIndicators]="showNavigationIndicators"
    [showNavigationArrows]="showNavigationArrows"
  *ngIf="data$ | async as data"
  #carousel
  [interval]="interval"
  [wrap]="true"
  (slide)="onSlideChange($event)"
  [pauseOnHover]="false"
>

<!-- Home Announce Start -->
  <ng-container *ngFor="let homeannounce of data.homeAnnounces; let i = index">
    <ng-template
      ngbSlide
      [id]="
        homeannounce?.slideId +
        '_' +
        i +
        '_' +
        homeannounce.announceType?.toLowerCase() +
        '_' +
        'home' +
        '_' +
        homeannounce.slideIntervalTime +
        '_' +
        'url'
      "
    >
    <mat-card style="max-width: 100vw;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
              <mat-card-title
                class="d-flex align-items-center justify-content-between"
              >
              <span class="kiosks-font"><mat-icon color="warn">campaign</mat-icon></span>
                <span class="text-danger kiosks-font">{{
                  homeannounce?.header | titlecase
                }}</span>
                <span class="text-primary kiosks-font">{{
                  homeannounce?.created | timeAgo
                }}</span>
              </mat-card-title>
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4">
              <app-kiosks-user-card [user]="homeannounce.user"></app-kiosks-user-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
              <app-image-slider
                [images]="homeannounce?.homeAnnouncePhotos"
              ></app-image-slider>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-responsive">
              <h3 class="header-responsive">İlan Bilgileri</h3>
              <div class="d-flex p-3">
                <small>Fiyat:</small>
                <small class="ml-2 text-danger"
                  ><strong>{{ homeannounce?.price | currency: "₺" }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Oda Sayısı:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.numberOfRoomName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Isıtma Tipi:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.heatingtypeName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Binanın Yaşı:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.buildingAgeName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Bulunduğu Kat:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.flatOfHomeName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small style="font-size: 2vw">&#13217;:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.squareMeters }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Tarih:</small>
                <small class="ml-2"
                  ><strong>{{ homeannounce?.created | timeAgo }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </mat-card>
    </ng-template>
  </ng-container>
  <!-- Home Announce End -->

  <!-- Vehicle Announce Start -->
  <ng-container
    *ngFor="let vehicleAnnounce of data.vehicleAnnounces; let i = index"
  >
    <ng-template
      ngbSlide
      [id]="
        vehicleAnnounce?.slideId +
        '_' +
        i +
        '_' +
        vehicleAnnounce.announceType?.toLowerCase() +
        '_' +
        'car' +
        '_' +
        vehicleAnnounce.slideIntervalTime +
        '_' +
        'url'
      "
    >
    <mat-card style="max-width: 100vw">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
              <mat-card-title
                class="d-flex align-items-center justify-content-between"
              >
                <span class="kiosks-font"
                  ><mat-icon color="warn">campaign</mat-icon></span
                >
    
                <span class="text-danger kiosks-font">{{
                  vehicleAnnounce?.header | titlecase
                }}</span>
                <span class="text-primary kiosks-font">{{
                  vehicleAnnounce?.created | timeAgo
                }}</span>
              </mat-card-title>
              <mat-divider></mat-divider>
            </div>
    
            <div class="col-md-3 col-lg-4 col-xl-4">
              <app-kiosks-user-card
                [user]="vehicleAnnounce.user"
              ></app-kiosks-user-card>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
              <app-image-slider
                [images]="vehicleAnnounce?.vehicleAnnouncePhotos"
              ></app-image-slider>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 text-responsive">
              <h3 class="header-responsive">İlan Bilgileri</h3>
              <div class="d-flex p-3">
                <small>Fiyat:</small>
                <small class="ml-2 text-danger"
                  ><strong>{{
                    vehicleAnnounce?.price | currency: "₺"
                  }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Marka:</small>
                <small class="ml-2"
                  ><strong>{{ vehicleAnnounce?.vehicleBrandName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Model:</small>
                <small class="ml-2"
                  ><strong>{{ vehicleAnnounce?.vehicleModelName }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Yakıt Tipi:</small>
                <small class="ml-2"
                  ><strong>{{
                    vehicleAnnounce?.vehicleFuelTypeName
                  }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Vites Tipi:</small>
                <small class="ml-2"
                  ><strong>{{
                    vehicleAnnounce?.vehicleGearTypeName
                  }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Motor Hacmi:</small>
                <small class="ml-2"
                  ><strong>{{
                    vehicleAnnounce?.vehicleEngineSizeName
                  }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
              <div class="d-flex p-3">
                <small>Tarih:</small>
                <small class="ml-2"
                  ><strong>{{ vehicleAnnounce?.created | timeAgo }}</strong></small
                >
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </mat-card>
    </ng-template>
  </ng-container>
<!-- Vehicle Announce End -->

<!-- Announce Start -->
  <ng-container *ngFor="let announce of data.announces; let ai = index">
    <ng-container *ngIf="announce.contentType?.toLowerCase() == 'image'">
      <ng-container
        *ngFor="let image of announce.announcePhotos; let i = index"
      >
        <ng-template
          ngbSlide
          [id]="
            announce?.slideId +
            '_' +
            i +
            '_' +
            announce.announceType?.toLowerCase() +
            '_' +
            announce.contentType?.toLowerCase() +
            '_' +
            announce.slideIntervalTime +
            '_' +
            'url'
          "
        >
          <img
            src="{{ image.fullPath }}"
            style="
              width: 100vw;
              height: 100vh;
              display: block;
              margin: 0 auto;
            "
          />
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="announce?.contentType?.toLowerCase() == 'video'">
      <ng-container
        *ngFor="let image of announce.announcePhotos; let i = index"
      >
        <ng-template
          ngbSlide
          [id]="
            announce?.slideId +
            '_' +
            i +
            '_' +
            announce.announceType?.toLowerCase() +
            '_' +
            announce.contentType?.toLowerCase() +
            '_' +
            image.duration +
            '_' +
            image?.fullPath
          "
        >
          <div style="max-height: 100vh;max-width: 100vw;">
            <video
              #video
              (ended)="onEnded($event)"
              (loadedmetadata)="onLoadedloaded($event)"
              id="{{ i }}"
              muted
              class="w-100 h-100"
              [muted]="'muted'"
            >
              <source src="{{ image?.fullPath }}" type="video/mp4" />
              <source src="{{ image?.fullPath }}" type="video/ogg" />
              <source src="{{ image?.fullPath }}" type="video/webm" />
              Your browser does not support the video tag.
            </video>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-container
      *ngIf="
        announce?.contentType?.toLowerCase() == 'deathannounce' ||
        announce?.contentType?.toLowerCase() == 'bloodannounce' ||
        announce?.contentType?.toLowerCase() == 'generalannounce'
      "
    >
      <ng-template
        ngbSlide
        [id]="
          announce?.slideId +
          '_' +
          ai +
          '_' +
          announce.announceType?.toLowerCase() +
          '_' +
          announce.contentType?.toLowerCase() +
          '_' +
          announce.slideIntervalTime +
          '_' +
          'url'
        "
      >
      <mat-card style="max-width: 100vw;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
              <mat-card-title class="d-flex align-items-center justify-content-between">
                <span class="kiosks-font"><mat-icon color="warn">campaign</mat-icon></span>
                <span class="text-danger kiosks-font">{{announce?.header | titlecase}}</span>
                <span class="text-primary kiosks-font">{{announce?.created | timeAgo}}</span>
              </mat-card-title>
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
              <mat-card-content>
                <div #fitTextToHere>
                  <quill-view
                    style="font-size: x-large"
                    [content]="announce?.content"
                    format="html"
                    theme="snow"
                  ></quill-view>
                </div>
              </mat-card-content>
            </div>
          </div>
        </div>
      </mat-card>
      </ng-template>
    </ng-container>
  </ng-container>
  <!-- Announce End -->

  <!-- News Start -->
  <ng-container *ngFor="let news of data.news; let ni = index">
    <ng-container *ngIf="news?.contentType?.toLowerCase() === 'image'">
      <ng-container *ngFor="let image of news.newsPhotos; let i = index">
        <ng-template
          ngbSlide
          [id]="
            news?.slideId +
            '_' +
            i +
            '_' +
            news.announceType?.toLowerCase() +
            '_' +
            news.contentType?.toLowerCase() +
            '_' +
            news.slideIntervalTime +
            '_' +
            'url'
          "
        >
          <img
            src="{{ image.fullPath }}"
            style="
              width: 100vw;
              height: 100vh;
              display: block;
              margin: 0 auto;
            "
          />
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="news.contentType?.toLowerCase() == 'textandimage'">
      <ng-template
        ngbSlide
        [id]="
          news?.slideId +
          '_' +
          ni +
          '_' +
          news.announceType?.toLowerCase() +
          '_' +
          news.contentType?.toLowerCase() +
          '_' +
          news.slideIntervalTime +
          '_' +
          'url'
        "
      >
      <mat-card style="max-width: 100vw;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
              <mat-card-title class="d-flex align-items-center justify-content-between">
                <span class="kiosks-font">{{ news?.newsAgency }}</span>
                <span class="text-danger kiosks-font">{{
                  news.header
                }}</span>
                <span class="kiosks-font">{{
                  news?.newsDate | date: "M/d/yyyy"
                }}</span>
              </mat-card-title>
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
              <quill-view
                [content]="news?.content"
                format="html"
                theme="snow"
              ></quill-view>
            </div>
            <ng-container *ngIf="news.newsPhotos?.length > 0">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <div
                  class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3"
                >
                  <app-image-slider
                    [images]="news.newsPhotos"
                    [thumbnails]="false"
                    [imageAutoPlay]="true"
                  ></app-image-slider>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-card>  
      </ng-template>
    </ng-container>
  </ng-container>
  <!-- News End -->

  <!-- Menu Start -->
  <ng-container *ngFor="let menu of data.foodsMenu; let i = index">
    <ng-template
      ngbSlide
      [id]="
        menu?.slideId +
        '_' +
        i +
        '_' +
        menu.announceType?.toLowerCase() +
        '_' +
        'foodmenu' +
        '_' +
        menu.slideIntervalTime +
        '_' +
        'url'
      "
    >
     
    <mat-card style="max-width: 100vw">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 mb-1">
              <mat-card-title class="d-flex justify-content-center">
                <span class="kiosks-font text-danger">
                  {{ menu?.publishStartDate | date: "M/d/yyyy" }}
                  Tarihli Yemek Menüsü
                </span>
              </mat-card-title>
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
              <div class="menu-container">
                <ng-container *ngIf="bgPhotoUrl; else defaultbg">
                  <img class="menu-bg" [src]="bgPhotoUrl" />
                </ng-container>
                <ng-template #defaultbg>
                  <img class="menu-bg" src="/assets/food-bg.jpg" />
                </ng-template>
                <div class="overlay">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                      <div
                        class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3"
                      >
                        <quill-view
                          style="align-self: center"
                          [content]="menu?.content"
                          format="html"
                          theme="snow"
                        ></quill-view>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 mt-3">
                      <div
                        class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3"
                      >
                        <ng-container *ngIf="menu.foodMenuPhotos?.length > 0">
                          <app-image-slider
                            [images]="menu.foodMenuPhotos"
                            [thumbnails]="false"
                            [imageAutoPlay]="true"
                          ></app-image-slider>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      
    </ng-template>
  </ng-container>
  <ng-template
    ngbSlide
    *ngIf="
      data.announces?.length == 0 &&
      data.foodsMenu?.length == 0 &&
      data.homeAnnounces?.length == 0 &&
      data.news?.length == 0 &&
      data.vehicleAnnounces?.length == 0
    "
  >
    <div class="d-flex flex-column align-items-center">
      <img src="/assets/no-data.png" style="width: 15vw" />
      <h2 class="text-info" style="font-size: 2vw">
        Bu ekran'da şuan yayın bulunmamaktadır.
      </h2>
    </div>
  </ng-template>
</ngb-carousel>
</div>
