<mat-expansion-panel *appHasRole="allowedRolesForList">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex align-items-center py-4">
      <mat-icon>home</mat-icon>
      <span
        [matBadge]="homeAnnounceStore.getNewAnnounceLength() | async"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        matBadgeSize="small"
        [matBadgeHidden]="(homeAnnounceStore.getNewAnnounceLength() | async)==0"
        >Ev İlanları</span>
      
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list routerLink="/app/admin/home-announces">
    <a mat-list-item>Ev İlan Listesi</a>
  </mat-nav-list>
</mat-expansion-panel>
