<div class="container p-3">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
    class="d-flex flex-column w-50"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Eski Şifreniz"
        formControlName="oldPassword"
      />
      <mat-error *ngIf="f.oldPassword.errors?.required"
        >Eski Şifrenizi giriniz...</mat-error
      >
      <mat-error *ngIf="f.oldPassword.errors?.maxlength"
        >Eski Şifre en fazla 8 karakter olmalı...</mat-error
      >
      <mat-error *ngIf="f.oldPassword.errors?.minlength"
        >Eski Şifre en az 4 karakter olmalı...</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Yeni Şifreniz..."
        formControlName="newPassword"
      />
      <mat-error *ngIf="f.newPassword.errors?.required"
        >Yeni Şifre giriniz...</mat-error
      >
      <mat-error *ngIf="f.newPassword.errors?.maxlength"
        >Yeni Şifre en fazla 8 karakter olmalı...</mat-error
      >
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Yeni Şifre Tekrar..."
          formControlName="confirmNewPassword"
        />
        <mat-error *ngIf="f.confirmNewPassword.errors?.required"
          >Şifre tekrarı belirleyiniz...</mat-error
        >
        <mat-error *ngIf="f.confirmNewPassword.errors?.maxlength"
          >Şifre tekrarı en fazla 8 karakter olmalı...</mat-error
        >
        <mat-error *ngIf="f.confirmNewPassword.errors?.mustMatch"
          >Şifre ve Şifre tekrarı uyuşmuyor...</mat-error
        >
      </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!changePasswordForm.valid"
    >
      Değiştir
    </button>
  </form>
</div>
