<mat-sidenav-container>
  <!-- SideNav Start -->
  <mat-sidenav #sidenav [mode]="'side'" [(opened)]="opened">
    <mat-toolbar color="primary">
      DashBoard
    </mat-toolbar>
    <mat-accordion>
      <!-- User Panel -->
      <app-user-panel></app-user-panel>
      <!-- Role Panel -->
      <app-role-panel></app-role-panel>
      <!-- Home Announce Option List -->
      <app-home-announce-option-list></app-home-announce-option-list>
      <!-- Vehicle Announce Option List -->
      <app-vehicle-announce-option-list></app-vehicle-announce-option-list>
      <!-- Announce-options-panel -->
      <app-announce-options-panel></app-announce-options-panel>
      <!-- Screen Panel -->
      <app-screen-panel></app-screen-panel>
      <!-- HomeAnnounce Panel -->
      <app-home-announces-panel></app-home-announces-panel>
      <!-- VehicleAnnounce Panel -->
      <app-vehicle-announces-panel></app-vehicle-announces-panel>
      <!-- Announces Panel -->
      <app-announce-panel></app-announce-panel>
    </mat-accordion>
  </mat-sidenav>
  <!-- SideNav End -->

  <mat-sidenav-content>
    <!-- Header -->
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <!-- Toolbar End -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
