<header class="header">
  <div class="container">
    <div class="header__logo">
      <img mat-card-avatar src="/assets/logo/logo.png" alt="Logo">
    </div>
    <div class="header__login">
      <div class="header__login-signIn">
        <div>
          <mat-icon
            matBadge="15"
            matBadgeColor="warn"
            matBadgeSize="small"
            [matMenuTriggerFor]="message"
            >message</mat-icon
          >
          <mat-menu #message="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div>
          <mat-icon
            matBadge="5"
            matBadgeColor="warn"
            matBadgeSize="small"
            [matMenuTriggerFor]="notification"
            >notification_important</mat-icon
          >
          <mat-menu #notification="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <img
          class="header__login-signIn_avatar"
          mat-card-avatar
          src="/assets/user/avatar.png"
          alt="User Avatar"
          [matMenuTriggerFor]="menu"
        />
        <span class="header__login-signIn_username"  [matMenuTriggerFor]="menu">Şükrü Özdemir</span>
        <div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/admin']" >Yönetim Paneli</button>
            <button mat-menu-item [routerLink]="['/screen']" target="_blank">Tester</button>
            <button mat-menu-item>Ayarlar</button>
          </mat-menu>
        </div>
       
      </div>
      <div class="header__login-signOut">
        <button mat-raised-button color="basic" [routerLink]="['/auth']">
            <mat-icon>input</mat-icon>
            Giriş Yap
          </button>
          <button mat-raised-button color="basic" [routerLink]="['/auth/register']">
            <mat-icon>save_alt</mat-icon>
            Kayıt Ol
          </button>
      </div>
    </div>
  </div>
</header>
