<section class="py-3" style=" background-color: white">
  <div class="container">
    <div class="row flex align-items-center">
      <div class="col-9">
        <button mat-raised-button (click)="goBack()">
          <mat-icon>keyboard_return</mat-icon>
          <span>Geri Dön</span>
        </button>
      </div>
      <div class="col-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/app/home">Home</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
