<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
           <mat-card>
               <mat-card-title class="d-flex align-items-center justify-content-center text-danger">
                   <span>{{getAnnounceType(announce.contentType)}}</span>
               </mat-card-title>
           </mat-card>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-card>
                <mat-card-content >
                    <div #fitTextToHere>
                        <quill-view style="font-size: x-large;" [content]="announce?.content" format="html" theme="snow"></quill-view>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
