<div class="container" [ngSwitch]="data.type">
  <div *ngSwitchCase="'success'" class="notify d-flex align-items-center">
    <mat-icon class="success">check</mat-icon>
    <span>{{ data.message }}</span>
  </div>
  <div *ngSwitchCase="'error'" class="notify d-flex align-items-center">
    <mat-icon class="error">clear</mat-icon>
    <span>{{ data.message }}</span>
  </div>
  <div *ngSwitchCase="'warning'" class="notify d-flex align-items-center">
    <mat-icon class="warning">warning</mat-icon>
    <span>{{ data.message }}</span>
  </div>
  <div *ngSwitchDefault class="notify d-flex align-items-center">
    <mat-icon class="default">person</mat-icon>
    <span>{{ data.message }}</span>
  </div>
</div>
