<div class="container" [ngSwitch]="data.type">
    <div *ngSwitchCase="'success'" class="notify row">
      <mat-icon class="success col-1">check</mat-icon>
      <span class="col-10">{{ data.message }}</span>
    </div>
    <div *ngSwitchCase="'error'" class="notify row">
      <mat-icon class="error col-2">clear</mat-icon>
      <span class="col-10">{{ data.message }}</span>
    </div>
    <div *ngSwitchCase="'warning'" class="notify row">
      <mat-icon class="warning col-2">warning</mat-icon>
      <span class="col-10">{{ data.message }}</span>
    </div>
    <div *ngSwitchDefault class="notify row">
      <mat-icon class="default col-2 ">person</mat-icon>
      <span class="col-10">{{ data.message }}</span>
    </div>
  </div>
