<div class="container mt-3">
  <app-admin-toolbar
    [searchInputPlaceHolder]="toolbarTitle"
    (searchKeyWord)="onSearch($event)"
    [toolbarTitle]="'Kullanıcı Listesi'"
    [isDisabledFilterList]="true"
    (createNew)="onCreateNew()"
    (filterByWaitingConfirm)="onWaitingConfirm()"
    (reset)="onReset()"
    (onFilter)="filterBy($event)"
  ></app-admin-toolbar>

  <div class="row mt-3 mb-5">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <app-loading></app-loading>
      <app-users-list-card [dataSource]="(userService.users$ | async)?.data"></app-users-list-card>
      <app-pager
        [totalCount]="(userService.users$ | async)?.count"
        [pageSize]="userService.userParams?.pageSize"
        (pageChange)="onPageChange($event)"
      ></app-pager>
    </div>
  </div>
</div>
