<section class="container d-flex justify-content-center">
    <mat-card class="w-50">
        <app-loading [loading]="authStore.loading$ | async"></app-loading>
        <mat-tab-group mat-stretch-tabs class="mt-2"> 
            <mat-tab label="Giriş Formu" >
                <form [formGroup]="loginForm" class="d-flex flex-column w-100" (ngSubmit)="login()" autocomplete="off">
                    <mat-form-field> 
                        <input matInput type="email" formControlName="email" placeholder="Email"/>
                        <mat-error *ngIf="f.email.errors?.required">Email adresinizi yazınız.!!!</mat-error>
                        <mat-error *ngIf="f.email.errors?.email">Email adresi hatalı.!!!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Şifre"/>
                            <mat-error *ngIf="f.password.errors?.required">Şifrenizi belirtiniz.!!!</mat-error>
                            <mat-error *ngIf="f.password.errors?.minlength">Şifreniz minumum 4 karakter olmalı.!!!</mat-error>
                            <mat-error *ngIf="f.password.errors?.maxlength">Şifreniz maximum 8 karakter olmalı.!!!</mat-error>
                    </mat-form-field>
                    <button mat-raised-button [disabled]="loginForm.invalid" color="primary" type="submit">Giriş</button>
                </form>
            </mat-tab>
            <mat-tab label="Kayıt Formu"> Content 2 </mat-tab>
          </mat-tab-group>
    </mat-card>
</section>
