<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
  <app-loading></app-loading>
  <form
    class="d-flex flex-column w-100"
    [formGroup]="degreeForm"
    (ngSubmit)="onSubmitform()"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="ünvan adı"
        formControlName="name"
      />
      <mat-error *ngIf="f.name.errors?.required"
        >Ünvan adı belirtiniz...</mat-error
      >
      <mat-error *ngIf="f.name.errors?.maxlength"
        >Ünvan adı en fazla 60 karakter olmalı...</mat-error
      >
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!degreeForm.valid"
    >
      {{ this.mode == "create" ? "Kaydet" : "Güncelle" }}
    </button>
  </form>
</mat-dialog-content>
