<div class="container mt-3">
    <app-admin-toolbar
      [toolbarTitle]="toolbarTitle"
      [isDisableInput]="true"
      [isDisabledFilterList]="true"
      [isHiddenConfirm]="false"
      [isDisabledReset]="true"
      [allowedRoles]="allowedRoles"
     
  
    ></app-admin-toolbar>
  
    <div class="row mt-3 mb-5">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <app-loading></app-loading>
        <app-city-list [dataSource]="cityStore$.cities$ | async"></app-city-list>
    </div>
    </div>
  </div>
