<div class="d-flex align-items-center justify-content-between">
  <h2 mat-dialog-title>{{ title }}</h2>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <app-loading></app-loading>
  <form
    class="d-flex flex-column w-100"
    [formGroup]="vehicleBrandForm"
    (ngSubmit)="onSubmitform()"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Araç Marka Adı"
        formControlName="brandName"
      />
      <mat-error *ngIf="f.brandName.errors?.required"
        >Araç markası için isim belirtiniz...</mat-error
      >
      <mat-error *ngIf="f.brandName.errors?.maxlength"
        >Araç marka adı en fazla 60 karakter olmalı...</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Yetki kategori</mat-label>
      <mat-select formControlName="vehicleCategoryId">
        <mat-option
          *ngFor="
            let vehicleCategory of vehicleCategoryStore?.vehicleCategories$
              | async
          "
          [value]="vehicleCategory?.id"
        >
          {{ vehicleCategory?.categoryName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.vehicleCategoryId.errors?.required"
        >Araç markası için kategori seçiniz...</mat-error
      >
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!vehicleBrandForm.valid"
    >
      {{ this.mode == "create" ? "Kaydet" : "Güncelle" }}
    </button>
  </form>
</mat-dialog-content>
