<div class="row p-4">
    <ng-container *ngIf="(user$ |async)?.userPhotos?.length > 0; else dataIsEmpty">
      <ng-container *ngFor="let image of user?.userPhotos">
        <div class="col-md-3 col-lg-3">
          <mat-card>
            <ng-container>
              <img
                mat-card-image
                src="{{ image?.fullPath }}"
                alt="İlan Fotoğrafı"
                height="140"
              />
            </ng-container>
            <mat-card-actions class="d-flex">
              <ng-container *appHasRole="roleForUpdate">
                <div class="d-flex align-items-center">
                  <span class="badge badge-danger mr-2" *ngIf="!image?.isConfirm" (click)="onConfirm(image)">Onayla</span>
                  <span class="badge badge-success mr-2" *ngIf="image?.isConfirm" (click)="onUnConfirm(image)">Onayı Kaldır</span>
                  <span class="badge badge-warning mr-2" *ngIf="!image?.unConfirm" (click)="onReject(image)">Ret-Et</span>
                  <span class="badge badge-dark mr-2" *ngIf="image?.unConfirm" (click)="onUnReject(image)">Ret-Vazgeç</span>
                </div>
              </ng-container>
              <ng-container *appHasRole="roleForDelete">
                <span class="badge badge-danger"  (click)="onDelete(image)">Sil</span>
              </ng-container>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
    <div class="col-md-12 py-4">
        <app-upload
        [apiUrl]="'http://localhost:5000/api/newsphoto'"
        [announceId]="user?.id"
        [roleForUpload]="roleForAddPhoto"
        (uploadResult)="uploadResult($event)"
      ></app-upload>
    </div>
  
    <div class="col-md-4">
      <ng-template #dataIsEmpty>
        <div class="alert alert-primary" role="alert">
            Bu kullanıcı için henüz profil fotoğrafı yüklenmemiş...
          </div>
      </ng-template>
    </div>
  </div>
  

