<div class="row p-4">
  <ng-container *ngIf="images.length > 0; else dataIsEmpty">
    <ng-container *ngFor="let image of images">
      <div class="col-md-2 col-lg-3">
        <mat-card>
          <ng-container *ngIf="image?.fileType.toLowerCase() == 'image'">
            <img
              mat-card-image
              src="{{ image?.photoUrl }}"
              alt="İlan Fotoğrafı"
              height="150"
            />
          </ng-container>
          <ng-container *ngIf="image?.fileType.toLowerCase() == 'video'">
            <video controls class="w-100 h-100">
              <source src="{{ image?.fullPath }}" type="video/mp4" />
              <source src="{{ image?.fullPath }}" type="video/ogg" />
              <source src="{{ image?.fullPath }}" type="video/webm" />
              Your browser does not support the video tag.
            </video>
          </ng-container>

          <mat-card-actions class="d-flex">
            <ng-container *appHasRole="roleForUpdate">
              <div class="d-flex align-items-center">
                <span class="badge badge-danger mr-2" *ngIf="!image?.isConfirm" (click)="onConfirm(image)">Onayla</span>
                <span class="badge badge-success mr-2" *ngIf="image?.isConfirm" (click)="onUnConfirm(image)">Onayı Kaldır</span>
                <span class="badge badge-warning mr-2" *ngIf="!image?.unConfirm" (click)="onReject(image)">Ret-Et</span>
                <span class="badge badge-dark mr-2" *ngIf="image?.unConfirm" (click)="onUnReject(image)">Ret-Vazgeç</span>
              </div>
            </ng-container>
            <ng-container *appHasRole="roleForDelete">
              <span class="badge badge-danger"  (click)="onDelete(image)">Sil</span>
            </ng-container>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>

  <div class="col-md-4">
    <ng-template #dataIsEmpty>
      <div class="alert alert-primary" role="alert">
        Bu ilan için henüz fotoğraf eklenmemiş..
      </div>
    </ng-template>
  </div>
</div>
